/* ACE Theme style sheet file */

/* General style for tags */

* {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #333;
}
a {
  transition: all 0.2s;
  text-decoration: none;
}
a:hover {
  color: #f9b500;
}
b {
  transition: all 0.2s;
  font-weight: 700;
}
a:hover > b {
  color: #f9b500;
}
/* clear fix seciton */

.clear-fix {
  clear: both;
}
/* pre ready class */

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}
.title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
}
.title:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 5px;
  background: #f9b500;
}
.article-title {
  padding-top: 20px;
}
.article-title a {
  font-size: 20px;
  font-weight: 700;
}
.info-bar {
  padding: 10px 0 20px 0;
}
.info-bar li {
  display: inline-block;
  margin-right: 20px;
  line-height: 25px;
}
.text-muted {
  color: #888;
}
.text-yellow {
  color: #f9b500;
}
/* end of pre ready classes */

/* app seciton and media query */

.app {
  width: 1200px;
}
@media (max-width: 1199.98px) {
  .app {
    width: 992px;
  }
}
@media (max-width: 991.98px) {
  .app {
    width: 768px;
  }
}
@media (max-width: 767.98px) {
  .app {
    width: 576px;
  }
}
@media (max-width: 575.98px) {
  .app {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}
/* end of media query */

/* header seciton */

.header-logo {
  float: left;
  margin: 30px 0;
}
.header-menu {
  float: right;
}
.header-menu-item {
  display: inline;
}
.header-menu-item-link {
  padding: 0 15px;
  line-height: 80px;
  font-weight: 700;
}
.header-menu-burger {
  display: none;
  float: right;
  background-color: white;
  border: none;
  line-height: 80px;
}
/* show seciton for burger menu */

.show {
  display: inline-block !important;
}
@media (max-width: 991.98px) {
  .header-logo {
    height: 15px;
    margin: 33px 0;
  }
  .header-menu-item-link {
    padding: 0 5px;
  }
}
@media (max-width: 767.98px) {
  .header-menu-burger {
    display: inline-block;
  }
  .header-menu {
    display: none;
    width: 100%;
  }
  .header-menu-item {
    display: block;
    border-bottom: 1px solid #cecece;
  }
}
/* content se ction */
/* intro row section */
.intro-row {
  width: 100%;
}

.mb-10x {
  margin-bottom: 10px;
}

.intro-h-600px {
  height: 600px;
}

.intro-h-100 {
  height: 100%;
}

.intro-h-2-3 {
  height: calc(200% / 3);
}

.intro-h-1-3 {
  height: calc(100% / 3);
}

.intro-h-50:first-of-type {
  margin-bottom: 10px;
}

.intro-h-50 {
  height: calc(50% - 5px);
}

.intro-2-3-col {
  float: left;
  margin-right: 10px;
  width: calc(calc(200% / 3) - 10px);
}

.intro-1-3-col {
  float: right;
  width: calc(100% / 3);
}

.intro-1-3-item {
  width: 100%;
}

.intro-1-3-col-item {
  float: left;
  width: calc(100% / 3);
}

.intro-1-3-col-item:nth-child(2) {
  float: left;
  margin: 0 10px 0 10px;
  width: calc(calc(100% / 3) - 20px);
}

/* items background img */
/* main image slider */
.bg-1 {
  background: url("../img/slider-1-1200x900.jpg") no-repeat center;
  background-size: cover;
}
/* 2 small pictures right of main pic */
.bg-2 {
  background: url("../img/slider-2-450x600.jpg") no-repeat center;
  background-size: cover;
}

.bg-3 {
  background: url("../img/slider-3-450x600.jpg") no-repeat center;
  background-size: cover;
}

/* second row img */
.bg-4 {
  background: url("../img/slider-4-450x600.jpg") no-repeat center;
  background-size: cover;
}

.bg-5 {
  background: url("../img/slider-5-450x600.jpg") no-repeat center;
  background-size: cover;
}

.bg-6 {
  background: url("../img/slider-6-450x600.jpg") no-repeat center;
  background-size: cover;
}

/* slides caption style*/
.intro-item-caption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.caption-title {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.caption-title span {
  color: #ffff;
  font-size: 25px;
  padding-right: 15px;
  font-weight: 700;
}

.caption-title b {
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
}

.caption-info-bar {
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.caption-info-bar li {
  color: #ffff;
  display: inline-block;
  margin-right: 20px;
}
