/* ACE Theme style sheet file */

/* General style for tags */

* {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #333;
}
a {
  transition: all 0.2s;
  text-decoration: none;
}
a:hover {
  color: #f9b500;
}
b {
  transition: all 0.2s;
  font-weight: 700;
}
a:hover > b {
  color: #f9b500;
}
/* clear fix seciton */

.clear-fix {
  clear: both;
}
/* pre ready class */

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}
.title:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
}
.title:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 5px;
  background: #f9b500;
}
.article-title {
  padding-top: 20px;
}
.article-title a {
  font-size: 20px;
  font-weight: 700;
}
.info-bar {
  padding: 10px 0 20px 0;
}
.info-bar li {
  display: inline-block;
  margin-right: 20px;
  line-height: 25px;
}
.text-muted {
  color: #888;
}
.text-yellow {
  color: #f9b500;
}
/* end of pre ready classes */

/* app seciton and media query */

.app {
  width: 1200px;
}
@media (max-width: 1199.98px) {
  .app {
    width: 992px;
  }
}
@media (max-width: 991.98px) {
  .app {
    width: 768px;
  }
}
@media (max-width: 767.98px) {
  .app {
    width: 576px;
  }
}
@media (max-width: 575.98px) {
  .app {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}
/* end of media query */

/* header seciton */

.header-logo {
  float: left;
  margin: 30px 0;
}
.header-menu {
  float: right;
}
.header-menu-item {
  display: inline;
}
.header-menu-item-link {
  padding: 0 15px;
  line-height: 80px;
  font-weight: 700;
}
.header-menu-burger {
  display: none;
  float: right;
  background-color: white;
  border: none;
  line-height: 80px;
}
/* show seciton for burger menu */

.show {
  display: inline-block !important;
}
@media (max-width: 991.98px) {
  .header-logo {
    height: 15px;
    margin: 33px 0;
  }
  .header-menu-item-link {
    padding: 0 5px;
  }
}
@media (max-width: 767.98px) {
  .header-menu-burger {
    display: inline-block;
  }
  .header-menu {
    display: none;
    width: 100%;
  }
  .header-menu-item {
    display: block;
    border-bottom: 1px solid #cecece;
  }
}
/* content section */
/* intro row section */
.intro-row {
  width: 100%;
}

.mb-10x {
  margin-bottom: 10px;
}

.intro-h-600px {
  height: 600px;
}

.intro-h-100 {
  height: 100%;
}

.intro-h-2-3 {
  height: calc(200% / 3);
}

.intro-h-1-3 {
  height: calc(100% / 3);
}

.intro-h-50:first-of-type {
  margin-bottom: 10px;
}

.intro-h-50 {
  height: calc(50% - 5px);
}

.intro-2-3-col {
  float: left;
  margin-right: 10px;
  width: calc(calc(200% / 3) - 10px);
}

.intro-1-3-col {
  float: right;
  width: calc(100% / 3);
}

.intro-1-3-item {
  width: 100%;
}

.intro-1-3-col-item {
  float: left;
  width: calc(100% / 3);
}

.intro-1-3-col-item:nth-child(2) {
  float: left;
  margin: 0 10px 0 10px;
  width: calc(calc(100% / 3) - 20px);
}

/* items background img */
/* main image slider */
.bg-1 {
  background: url("../img/slider-1-1200x900.jpg") no-repeat center;
  background-size: cover;
}
/* 2 small pictures right of main pic */
.bg-2 {
  background: url("../img/slider-2-450x600.jpg") no-repeat center;
  background-size: cover;
}

.bg-3 {
  background: url("../img/slider-3-450x600.jpg") no-repeat center;
  background-size: cover;
}

/* second row img */
.bg-4 {
  background: url("../img/slider-4-450x600.jpg") no-repeat center;
  background-size: cover;
}

.bg-5 {
  background: url("../img/slider-5-450x600.jpg") no-repeat center;
  background-size: cover;
}

.bg-6 {
  background: url("../img/slider-6-450x600.jpg") no-repeat center;
  background-size: cover;
}

/* slides caption style*/
.intro-item-caption {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.caption-title {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.caption-title span {
  color: #ffff;
  font-size: 25px;
  padding-right: 15px;
  font-weight: 700;
}

.caption-title b {
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
}

.caption-info-bar {
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.caption-info-bar li {
  color: #ffff;
  display: inline-block;
  margin-right: 20px;
}

.img-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* margin pre ready clases */
.mr-10x {
  margin-right: 10px;
}

.ml-10px {
  margin-left: 10px;
}

/* margin bottom alerdy exist with
name mb-10x */

.mt-10px {
  margin-top: 10px;
}

/* intro row media query */
@media (max-width: 767.98px) {
  .intro-2-3-col {
    width: 100%;
    float: none;
    margin-right: 0px;
  }

  .intro-1-3-col {
    width: 100%;
  }

  .intro-1-3-col-item {
    float: none;
    width: 100%;
  }

  .intro-1-3-col-item:nth-of-type(2) {
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  .intro-h-600px {
    height: auto;
  }
  .intro-h-100 {
    height: auto;
  }
  .intro-h-50 {
    height: auto;
  }
  .intro-h-2-3 {
    height: auto;
  }
  .intro-h-1-3 {
    height: auto;
  }

  .h-md-300px {
    height: 300px;
    margin-bottom: 10px;
  }
}

/* Container seciton */
.container {
  width: 100%;
  margin-top: 50px;
}

.main {
  float: left;
  width: calc(calc(200% / 3) - 25px);
  margin-right: 25px;
}

.main-news {
  margin-bottom: 20px;
}

.main-news-img {
  width: 100%;
}

/* Crypto news section */

.crypto-news {
  width: 100%;
}

.crypto-w-50 {
  float: left;
  margin-right: 25px;
  width: calc(calc(100% / 2) - 25px);
}

.intro-1-2-col:nth-of-type(2) {
  margin-right: 0;
}

/* Sidebar seciton */
.side-bar {
  float: right;
  width: calc(calc(100% / 3) - 25px);
  margin-left: 25px;
}
.side-bar-item {
  margin-bottom: 40px;
  width: 100%;
}
.sidebar-list {
  padding: 0;
}
.sidebar-list > li {
  list-style: none;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ffffff;
  background-color: #f9b500;
}
/* popular post section */
.popular-posts {
  width: 100%;
  margin-bottom: 20px;
}

.popular-post-img {
  float: left;
  width: 100px;
  height: 100px;
}
.popular-post-title {
  float: right;
  margin-left: 20px;
  width: calc(100% - 120px);
}

.popular-post-title h3 a b {
  font-size: 18px;
}

/* subscribe form section */
.subscribe-form {
  margin-top: 20px;
  border: none;
}

.subscribe-form-text {
  padding: 13px 58px 13px 13px;
  float: left;
  width: calc(100% - 73px);
  border: 1px solid #f9b500;
}
/* i used to property for chrome and 
firefox!
 */

.subscribe-form-text:focus {
  outline-color: #f9b500;
  outline: 1px solid #f9b500;
}

.subscribe-form button{
  float: right;
  width: 45px;
  height: 43px;
  border: none;
  text-align: center;
  background-color: #f9b500;
  margin-top: -44px;
}

.subscribe-form button:hover{
  background-color: black;
  color: #f9b500;
}

/* media query of content */
@media (max-width:991.98px){
  
  .main{
    width: 100%;
    float: none;
  }
 
  .side-bar{
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  
}

@media (max-width:575.98px){
  .crypto-w-50{
    width: 100%;
    float: none;
  }
  
}